<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>CovidVision: Advanced COVID-19 Detection From Lung X-Rays With Deep Learning</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Upload</button>
        </form>

        {% if filename %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('static', filename='uploads/' ~ filename) }}" alt="Uploaded Image" width="299px">
        <h2>Prediction: {{ result }}</h2>
        {% endif %}
    </div>
</body>
</html>
